* {
    margin: 0;
    padding: 0;
}

/* ============================header section start here ====================== */
header {
    width: 100%;
    height: 40%;
}

.logo {
    background-image: url(/img/cycling\ nepaal1.png);
    background-size: 100% 100%;
    width: 10%;
}


.logoname {
    color: rgb(255, 255, 255);
    width: 20%;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    margin-top: 1.5%;
}

.menu1 {
    background: rgb(0, 0, 0);
    width: 100%;
}

header div ul li hr {
    font-weight: bolder;
}

.menu1 ul {
    display: flex;
    justify-content: space-around;
}

.menu1 ul li {
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 2% 5%;
}

.menu1 ul li a {
    color: white;
    text-decoration: none;
}

.menu2 {
    width: 100%;
    height: 30vh;
    background-image: url(/img/Tour-de-France-2018-stage-17-Grubers-9-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 20s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in ease-out;
}

@keyframes animate {
    0% {
        background-image: url(img/menu2pic1.jpg);
    }

    20% {
        background-image: url(img/menu2pic2.jpg);
    }

    40% {
        background-image: url(img/menu2pic3.jpg);
    }

    60% {
        background-image: url(img/menu2pic4.jpg);
    }

    80% {
        background-image: url(/img/menu2pic8.jpg);
    }

    100% {
        background-image: url(img/menu2pic6.jpg);
    }

}

.menu2 nav ul {
    display: flex;
}

.menu2 nav ul li {
    list-style: none;
    margin: 4% 3%;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu2 nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: xx-large;
}

/*========================= main section start here======================= */
.firstevent {
    width: 100%;
    height: 200px;
    background: red;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 2%;

}

.firstevent1 {
    background: url(./img/women\ cycling.webp);
    background-size: 100% 100%;
    height: 100%;
    width: 30%;
    position: relative;
}

.fe1 {
    width: 100%;
    height: 35%;
    background: rgba(118, 103, 103, 0.586);
    position: absolute;
    bottom: 0;
    left: 0;
}

.firstevent2 {
    /* background:url(./img/menu2pic1.jpg) ; */
    background: rgb(141, 184, 23);
    height: 100%;
    width: 30%;
    position: relative;
}

.fe2 {
    width: 100%;
    height: 20%;
    background: rgba(226, 29, 29, 0.586);
    position: absolute;
    bottom: 0;
    left: 0;
}

.firstevent3 {
    /* background: url(./img/pexels-allan-carvalho-13173932.jpg); */
    background: rgb(89, 62, 62);
    height: 100%;
    width: 30%;
    position: relative;
}

.fe3 {
    width: 100%;
    height: 20%;
    background: rgba(226, 29, 29, 0.586);
    position: absolute;
    bottom: 0;
    left: 0;
}

.secondevent {
    width: 100%;
    height: 200px;
    background: red;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.secondevent1 {
    /* background: url(./img/foirest\ cycling.html); */
    background: rgb(178, 183, 164);
    height: 100%;
    width: 30%;

}

.secondevent2 {
    /* background:url(./img/menu2pic1.jpg) ; */
    background: rgb(141, 184, 23);
    height: 100%;
    width: 30%;

}

.secondevent3 {
    /* background: url(./img/pexels-allan-carvalho-13173932.jpg); */
    background: rgb(89, 62, 62);
    height: 100%;
    width: 30%;
}

.thirdevent {
    width: 100%;
    height: 200px;
    background: red;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.thirdevent1 {
    /* background: url(./img/foirest\ cycling.html); */
    background: rgb(178, 183, 164);
    height: 100%;
    width: 30%;

}

.thirdevent2 {
    /* background:url(./img/menu2pic1.jpg) ; */
    background: rgb(141, 184, 23);
    height: 100%;
    width: 30%;

}

.thirdevent3 {
    /* background: url(./img/pexels-allan-carvalho-13173932.jpg); */
    background: rgb(89, 62, 62);
    height: 100%;
    width: 30%;
}

.forthevent {
    width: 100%;
    height: 200px;
    background: red;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.forthevent1 {
    /* background: url(./img/foirest\ cycling.html); */
    background: rgb(178, 183, 164);
    height: 100%;
    width: 30%;

}

.forthevent2 {
    /* background:url(./img/menu2pic1.jpg) ; */
    background: rgb(141, 184, 23);
    height: 100%;
    width: 30%;

}

.forthevent3 {
    /* background: url(./img/pexels-allan-carvalho-13173932.jpg); */
    background: rgb(89, 62, 62);
    height: 100%;
    width: 30%;
}

footer {
    margin-top: 3%;
    background: rgb(20, 169, 178);
    width: 100%;
    height: 5rem;
}