* {
    margin: 0;
    padding: 0;
}

/* ============================header section start here ====================== */
header {
    width: 100%;
    height: 60%;
}

.logo {
    background-image: url(img/cycling\ nepaal1.png);
    background-size: 100% 100%;
    width: 7%;
    margin: 10px;
}

.logoname {
    color: rgb(255, 255, 255);
    width: 20%;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    margin-top: 1.5%;
}

.menu1 {
    background: rgb(0, 0, 0);
    width: 100%;
}

header div ul li hr {
    font-weight: bolder;
}

.menu1 ul {
    display: flex;
    justify-content: space-around;
}

.menu1 ul li {
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 2% 5%;
}

.menu1 ul li a {
    color: white;
    text-decoration: none;
}

.menu2 {
    width: 100%;
    height: 30vh;
    background-image: url(/img/Tour-de-France-2018-stage-17-Grubers-9-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 20s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in ease-out;
}

@keyframes animate {
    0% {
        background-image: url(img/menu2pic1.jpg);
    }

    20% {
        background-image: url(img/menu2pic2.jpg);
    }

    40% {
        background-image: url(img/menu2pic3.jpg);
    }

    60% {
        background-image: url(img/menu2pic4.jpg);
    }

    80% {
        background-image: url(img/menu2pic8.jpg);
    }

    100% {
        background-image: url(img/menu2pic6.jpg);
    }

}
.menu2 nav ul {
    display: flex;
background: #00000089;
}

.menu2 nav ul li {
    list-style: none;
    margin: 5.5% 3%;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu2 nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: xx-large;
}
/* ======================header section end here=====================================================*/
/* main section start here=============================================================== */
main{
    background: url(./img/pexels-pavel-danilyuk-5807576.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    padding: 100px;
    padding-bottom: 200px;
}
main .container{
    padding: 10%;
    width: 20%;
    margin-top: 30px;
    margin-left: 250px;
    border: 1px solid rgb(17, 16, 16);
    background: rgba(0, 0, 0, 0.427);
    font-size: 30px;
    color: white;
    
}
.input{
    margin-top: 20px;
    font-size: 20px;
    border: 1px solid white;
    color: white ;
    background: transparent;
    padding: 5px;
}

footer {
    margin-top: 0.5%;
    background: rgb(20, 169, 178);
    width: 100%;
    height: 6rem;
}

.container {
    display: flex;
    justify-content: center;
    padding: 1% 0 0 0;
    gap: 1.5%;
}

.fa-brands {
    size: 50px;
    color: rgb(255, 255, 255);
}

.fa-solid {
    size: 50px;
    color: rgb(255, 255, 255);
}

.footercontent {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 1%;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

