* {
    margin: 0;
    padding: 0;
}

/* ============================header section start here ====================== */
header {
    width: 100%;
    height: 60%;
}

.logo {
    background-image: url(img/cycling\ nepaal1.png);
    background-size: 100% 100%;
    width: 10%;
}


.logoname {
    color: rgb(255, 255, 255);
    width: 20%;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    margin-top: 1.5%;
}

.menu1 {
    background: rgb(0, 0, 0);
    width: 100%;
}

header div ul li hr {
    font-weight: bolder;
}

.menu1 ul {
    display: flex;
    justify-content: space-around;
}

.menu1 ul li {
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 2% 5%;
}

.menu1 ul li a {
    color: white;
    text-decoration: none;
}

.menu2 {
    width: 100%;
    height: 30vh;
    background-image: url(img/Tour-de-France-2018-stage-17-Grubers-9-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 20s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in ease-out;
}

@keyframes animate {
    0% {
        background-image: url(img/menu2pic1.jpg);
    }

    20% {
        background-image: url(img/menu2pic2.jpg);
    }

    40% {
        background-image: url(img/menu2pic3.jpg);
    }

    60% {
        background-image: url(img/menu2pic4.jpg);
    }

    80% {
        background-image: url(img/menu2pic8.jpg);
    }

    100% {
        background-image: url(img/menu2pic6.jpg);
    }

}

.menu2 nav ul {
    display: flex;
}

.menu2 nav ul li {
    list-style: none;
    margin: 4% 3%;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu2 nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: xx-large;
}

/* ==============================header section end here======================== */
/*==============================main section start here=======================  */
main {
    top: 37%;
    background: rgb(192, 236, 248);
    height: 250vh;
    width: 100%;
    bottom: 0;
}

.constantlychanging {
    margin: 1% 2.5%;
    background-image: url(img/pexels-mike-1174103.jpg);
    background-size: 100% 100%;
    width: 95%;
    height: 33%;
    display: flex;
    position: relative;
}

.constantlychanging .content1 {
    width: 20%;
    opacity: 0.7;
    height: 100%;
    background: rgba(0, 0, 0, 0.613);
}

.constantlychanging .content2 {
    width: 20%;
    opacity: 0.8;
    height: 100%;
    background: rgba(0, 0, 0, 0.323);
}

.constantlychanging .content3 h3 {
    font-size: 28px;
    color: white;
}

.constantlychanging .content3 i {
    font-size: 28px;
    color: white;
    
}

.constantlychanging .content3 button {
    width: 107px;
    height: 43px;
    background: transparent;
    font-size: 16px;
    margin-top: 20px;
    /* background: rgb(93, 73, 73); */
}

.constantlychanging .content3 {
    position: absolute ;
    top: 30%;
    width: 18%;
    margin-left: 0%;
    text-align: center;
    /* background: rgb(111, 95, 95); */
}

/* ==============================contian2 start here=========================== */
.contain2 {
    position: relative;
    width: 95%;
    height: 21%;
    top: 0.5%;
    left: 1.5%;
    display: flex;
    margin: 1% 1%;
}

.changing1 {
    position: relative;
    background-image: url(img/pexels-dó-castle-2270329.jpg);
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    left: 48%;
}

.changing2 {
    position: relative;
    width: 50%;
    height: 100%;
    right: 50%;
    color: rgb(58, 172, 117);
    font-size: x-large;
}

/* =============================contain2 end here============================ */


/* =============================contain3 start here========================== */
.contain3 {
    position: relative;
    width: 95%;
    height: 21%;
    top: 0.5%;
    left: 1.5%;
    display: flex;
    margin: 1% 1%;
}

.change1 {
    
    background-size: 100% 100%;
    width: 48%;
    height: 100%;
    color: rgb(58, 172, 117);
    font-size: x-large;
}

.change2 {
    background: url(img/pexels-irene-lasus-90454.jpg);
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
}

/* ==========================contain3 endhere===================================== */
.contain4 {
    width: 95%;
    height: 21%;
    display: flex;
    margin: 1% 2%;
}

.chan1 {
    background: url(img/pexels-pixabay-161172.jpg);
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    left: 50%;
}

.chan2 {
    width: 50%;
    height: 100%;
    color: rgb(58, 172, 117);
    font-size: x-large;
    margin-left: 2%;
}
ul{
    list-style: none;
}
ul li span{
    background: #272727;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* =============================contain4 end here=============================== */

/*===============================main section end here===========================*/
/* ==============================footer section start here=======================*/
footer {
    background: rgb(20, 169, 178);
    width: 100%;
    height: 6rem;
}

.container {
    display: flex;
    justify-content: center;
    padding: 1% 0 0 0;
    gap: 1.5%;
}

.fa-brands {
    size: 50px;
    color: rgb(255, 255, 255);
}

.fa-solid {
    size: 50px;
    color: rgb(255, 255, 255);
}

.footercontent {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 1%;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

/* =============================footer section end here========================= */